.status-bar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #656565;
}

.status-bar i {
  font-size: 13px;
}

.status-bar .status-bar__battery-level{
  margin-left: 4px;
}